{% load static %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
	<div class="container">
	  <div class="row mb-5">
		<div class="col-md">
		  <div class="ftco-footer-widget mb-4">
			<h2 class="ftco-heading-2"><a href="#" class="logo">Elite<span>Fleet</span></a></h2>
			<p>We understand the frustration of navigating a new country, which is why we are committed to making your journey as smooth as possible.</p>
			<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
			  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			  <li class="ftco-animate"><a href="#"><span class="icon-whatsapp"></span></a></li>
			</ul>
		  </div>
		</div>
		<div class="col-md">
		  <div class="ftco-footer-widget mb-4 ml-md-5">
			<h2 class="ftco-heading-2">Information</h2>
			<ul class="list-unstyled">
			 
			  <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
			  <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
			  <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-md">
		   <div class="ftco-footer-widget mb-4">
			<h2 class="ftco-heading-2">Customer Support</h2>
			<ul class="list-unstyled">
			  <li><a href="#" class="py-2 d-block">Payment Option</a></li>
			  <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
			  <li><a href="#" class="py-2 d-block">Contact Us</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-md">
		  <div class="ftco-footer-widget mb-4">
			  <h2 class="ftco-heading-2">Have a Questions?</h2>
			  <div class="block-23 mb-3">
				<ul>
				  <li><span class="icon icon-map-marker"></span><span class="text">Kasarani Mwiki, Nairobi, KE</span></li>
				  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+254 112 284 093</span></a></li>
				  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@elitefleet.com</span></a></li>
				</ul>
			  </div>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-12 text-center">

		  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | InnovationHub <i  aria-hidden="true"></i>  <a href="https://github.com/steve-ongera" target="_blank">Softwares</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
		</div>
	  </div>
	</div>
  </footer>
  


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'js/jquery.stellar.min.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/aos.js'%}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js'%}"></script>
<script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
<script src="{% static 'js/jquery.timepicker.min.js'%}"></script>
<script src="{% static 'js/scrollax.min.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'js/google-map.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
 <!-- jQuery -->
 <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

 <!-- Bootstrap4 files-->
 <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
 <!-- custom javascript -->
 <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="{% static 'js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMSmzJ6U5/3X3iG3H61mF3TjT+hGm5C6A5eG6h" crossorigin="anonymous">
  
</body>
</html>


{% comment %}




<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2024 PlatePulse</p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">InnovationHub Softwares</span>
				<span  class="px-2">+2547-5779-0687</span>
				<span  class="px-2">Nairobi</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

{% endcomment %}